html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: White;
}
div {
    border: 0px solid Chocolate;
}
.projects img {
   padding:1px;
   border:1px solid #4F628E;
   background-color:#4F628E;
}

/* Navigation Section */

.masthead {
    /*background-image: url(images/am_logo.jpg) center center no-repeat;*/ 
    color: #000;
    height:200px;
    font-family: "Gentium Book Basic", Georgia, serif;
    text-align: center;
    
}
.masthead h1{
    font-size: 70px;
}
.masthead p{
    margin-top: 0;
}
.top-navigation {
    background-color: #7887AB;
    position: fixed;
	width: 100%;
	z-index: 9999;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}


#introduction {
    background-color: #45628E;
    /*background-image: url('../images/hfgs_bookclub.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 100% ;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
 
}
 #introduction h1, #introduction h3{
    color: white;
    text-align: center;
    font-weight: 300;
}
#introduction {
    color: white;
    text-align: center;
    font-weight: 100
    /*margin-top: 1.563rem;*/
}

.cases .projects li{
    width: 30%;
    display: inline-block;
    padding: 5px;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 4em;
}
.icons li {
    display: inline-block;
    margin-left: 20px;
}
.cases h2, .content h3, .social .social h5, .content{
   text-align: center;
}
.caption h3{
    color: #4F628E;
}

